 <!-- Begin Page Content -->
 <div class="container-fluid">

     <!-- Page Heading -->
     <h1 class="h3 mb-2 text-gray-800">Semester Tables</h1>
     <p class="mb-4">
         DataTables is a third party plugin that is used to generate the demo table below.
         For more information about DataTables, please visit the <a target="_blank"
                                                                    href="https://datatables.net">official DataTables documentation</a>.
     </p>

     <!-- DataTales Example -->
     <div class="card shadow mb-4">
         <div class="card-header py-3">
             <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
         </div>
         <div class="card-body">
             <div class="table-responsive">
                 <table id="semester-table" class="table table-bordered table-hover table-striped" width="100%" cellspacing="0">
                     <thead>
                         <tr>
                             <th>No</th>
                             <th>Name</th>
                             <th>Start Date</th>
                             <th>End Date</th>
                         </tr>
                     </thead>
                 </table>
             </div>
         </div>
     </div>

 </div>
 <!-- /.container-fluid -->

 @section Scripts {
     <script src="~/js/semester.js"></script>
     
 }