<div class="container-fluild mx-4">
    <h1 class="h3 mb-2 text-gray-800">Faculty Management</h1>
    <p class="mb-4">This is faculty tables</p>


    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Faculty Data Table</h6>
            <div class="col-6 d-flex justify-content-end">
                <a asp-controller="Faculty" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Faculty
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="">
                <table id="faculty-table" class="table table-bordered table-hover table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Magazine Count</th>
                            <th>User Count</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/faculty.js"></script>

}
