<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS for highlighting charts */
        body {
            background-color: #f8f9fa;
            color: #333;
        }

        .container {
            max-width: 960px;
            margin: 0 auto;
            padding: 20px;
        }

        .center {
            text-align: center;
        }

        .chart-container {
            margin-bottom: 40px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }

            .chart-container:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 0 3px lightblue;
            }

        h4 {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="center">Dashboard</h1>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="chart-container">
                    <h4>Number of Users in Faculty</h4>
                    <canvas id="userChart" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chart-container">
                    <h4>Number of Magazines in Faculty</h4>
                    <canvas id="magazineChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="chart-container">
                    <h4>Number of Users in each Role</h4>
                    <canvas id="polarUserChart" width="400" height="800"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div class="chart-container">
                    <h4>Number of Topics Published Each Month</h4>
                    <canvas id="topicChart" width="800" height="740"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/dashboard.js"></script>
</body>
</html>