@model Faculty
<!-- Begin Page Content -->
 <div class="container-fluid">

     <!-- Page Heading -->
     <h1 class="h3 mb-2 text-gray-800">Faculty Tables</h1>

    <button onclick="createFaculty()" type="button" class="btn btn-outline-primary my-4 btn-lg" data-toggle="modal" data-target="#modalCenter">
        Create Faculty
    </button>

     <!-- DataTales Example -->
     <div class="card shadow mb-4">
         <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Table of Faculty</h6>
         </div>
         <div class="card-body">
             <div class="table-responsive">
                 <table id="faculty-table" class="table table-bordered table-hover table-striped" width="100%" cellspacing="0">
                     <thead>
                         <tr>
                             <th>No.</th>
                             <th>Name</th>
                             <th>Magazine Count</th>
                             <th>User Count</th>
                             <th></th>
                         </tr>
                     </thead>
                 </table>
             </div>
         </div>
     </div>

 </div>
 <!-- /.container-fluid -->
<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form id="facultyForm" method="post" autocomplete="off">
        <input asp-for="Id" id="facultyId" class="form-control" aria-required="true" placeholder="" type="hidden"/>
        <div class="modal-content" style="width: 550px">
            <div class="modal-header">
                <h5 class="modal-title" id="facultyFormTitle">Create Faculty</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col">
                        <h5>Name</h5>
                        <div>
                            <input asp-for="Name" id="facultyName" class="form-control" aria-required="true" placeholder="" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
             
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/faculty-admin.js"></script>
}
