@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<body class="body-background-img">
    <div class="container">
        <div class="form-signin">
            <h1 class="title-main space-hold">@ViewData["Title"]</h1>
            <div>
                <div>
                    <section>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                            <div class="space-hold">
                                <input asp-for="Input.Email" class="input-form" autocomplete="username" aria-required="true" placeholder="Enter your email." />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <hr />

                            <div class="center">
                                <button class="deep-blue-btn bold-white-text" type="submit">Reset Password</button>
                            </div>

                            <div class="space-hold">
                                <p class="marginal-text">
                                    <a class="text-link" asp-page="./Login">Back to Login</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
