@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                 <div class="form-register">
                        <div class="container">
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" >
                                <h2 class="title-main center">Create a new account.</h2>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                                <div class="register-space-hold">
                                    <label asp-for="Input.Firstname">First name</label>
                                <input asp-for="Input.Firstname" class="input-form" autocomplete="username" aria-required="true" placeholder="First name" />
                                    <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                                </div>

                            <div class="register-space-hold">
                                    <label asp-for="Input.Lastname">Last name</label>
                                    <input asp-for="Input.Lastname" class="input-form" autocomplete="username" aria-required="true" placeholder="Last name" />
                                    <span asp-validation-for="Input.Lastname" class="text-danger"></span>
                                </div>

                            <div class="register-space-hold">
                                    <label asp-for="Input.Email">Email</label>
                                    <input asp-for="Input.Email" class=" input-form" autocomplete="username" aria-required="true" placeholder="Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>

                            <div class="register-space-hold">
                                    <label asp-for="Input.Password">Password</label>
                                    <input asp-for="Input.Password" class=" input-form" autocomplete="new-password" aria-required="true" placeholder="Password" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>

                            <div class="register-space-hold">
                                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" class="input-form" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>

                            <div class="register-space-hold">
                                    <label asp-for="Input.Role">Role</label>
                                    <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select input-form">
                                        <option disabled selected>-Select Role-</option>
                                    </select>
                                </div>
                            <div class="register-space-hold">
                                <label asp-for="Input.FacultyId">Faculty</label>
                                <select asp-for="Input.FacultyId" asp-items="@Model.Input.FacultyList" class="form-select input-form">
                                    <option disabled selected>-Select Faculty-</option>
                                </select>
                            </div>
                                <div>
                                    <input type="checkbox" id="termsCheckbox" name="name" value="" />
                                    <label for="termsCheckbox">Accept our <span class="term-and-conditions">Terms and Conditions</span></label>
                                    <div id="errorMessage">Please accept the Terms and Conditions.</div>
                                </div>

                                <div class="center">
                                    <button id="registerButton" type="submit" class="deep-blue-btn bold-white-text">Register</button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
