@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<body class="body-background-img">
    <div class="container">
        <div class="form-signin">
            <h1 class="title-main space-hold">@ViewData["Title"]</h1>
            <div>
                <div>
                    <section>
                        <div>
                            <p>Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
