@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<body class="body-background-img">
    <div class="container">
        <div class="form-signin">
            <h1 class="title-main space-hold">@ViewData["Title"]</h1>
            <div>
                <div>
                    <section>
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            @* <input asp-for="Input.Code" type="hidden" /> *@

                            <div class="space-hold">
                                <input asp-for="Input.Email" class="input-form" autocomplete="username" aria-required="true" readonly placeholder="Email: @Model.Input.Email" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>

                            <div class="space-hold">
                                <input asp-for="Input.Password" class="input-form" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="space-hold">
                                <input asp-for="Input.ConfirmPassword" class="input-form" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>

                            <hr />

                            <div class="center">
                                <button class="deep-blue-btn bold-white-text" type="submit">Reset Password</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <div class="space-hold">
                <a href="/" class="text-link">Back to Home</a>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
