<!DOCTYPE html>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MagazineCMS</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MagazineCMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css" />
    <link href="/lib/startbootstrap-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/lib/startbootstrap-admin/css/sb-admin-2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="/lib/startbootstrap-admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        @if (SignInManager.IsSignedIn(User))
        {
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                @if (User.IsInRole("Student"))
                {
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Student" asp-controller="Dashboard" asp-action="Index">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3" style="font-weight: bold; font-size: 20px;">Magazine CMS</div>
                    </a>
                }
                @if (User.IsInRole("Manager"))
                {
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Manager" asp-controller="Dashboard" asp-action="Index">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3" style="font-weight: bold; font-size: 20px;">Magazine CMS</div>
                    </a>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3" style="font-weight: bold; font-size: 20px;">Magazine CMS</div>
                    </a>
                }
                @if (User.IsInRole("Coordinator"))
                {
                    <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Coordinator" asp-controller="Dashboard" asp-action="Index">
                        <div class="sidebar-brand-icon rotate-n-15">
                            <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
                        </div>
                        <div class="sidebar-brand-text mx-3" style="font-weight: bold; font-size: 20px;">Magazine CMS</div>
                    </a>
                }


                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                @if (User.IsInRole("Admin"))
                {
                    <partial name="_SidebarAdminPartial" />
                }
                @if (User.IsInRole("Manager"))
                {
                    <partial name="_SidebarManagerPartial" />
                }
                @if (User.IsInRole("Student"))
                {
                    <partial name="_SidebarStudentPartial" />
                }
                @if (User.IsInRole("Coordinator"))
                {
                    <partial name="_SidebarCoordinatorPartial" />
                }

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
        }
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="Guest" asp-controller="Home" asp-action="Index" style="text-decoration: none;">
                            <div class="sidebar-brand-icon rotate-n-15">
                                <i class="fa fa-cube fa-2x" aria-hidden="true"></i>
                            </div>
                            <div class="sidebar-brand-text mx-3" style="font-weight: bold; font-size: 22px;">Magazine CMS</div>
                        </a>

                    }

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <partial name="_NotificationPartial" />        
                        }
                        
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <partial name="_LoginPartial" />
                    </ul>
                </nav>

                <div class="content">
                    <main role="main" class="pb-3 body-content">
                        <partial name="_AlertPartial" />
                        @RenderBody()
                    </main>
                </div>


                <!-- Footer -->
                @if (!Context.Request.Path.Value.Contains("Identity/Account/Login"))
                {
                    <footer class="sticky-footer bg-white">
                        <div class="my-auto" style="margin-left: 35%;">
                            <div class="copyright my-auto">
                                <table>
                                    <tr class="title-main-footer">
                                        <th style="padding-left: 20px;">
                                            Contact:
                                        </th>
                                        <th>
                                            Admin
                                        </th>
                                        <th>
                                            Manager
                                        </th>
                                    </tr>
                                    <tr class="marginal-text-footer">
                                        <th>

                                        </th>
                                        <th>
                                            Phone: 012 1102 2201
                                        </th>
                                        <th>
                                            Phone: 012 2234 4953
                                        </th>
                                    </tr>
                                    <tr class="marginal-text-footer">
                                        <th>

                                        </th>
                                        <th>
                                            Email: <a href="mailto:admin@gmail.com" style="text-decoration: none">admin@gmail.com</a>
                                        </th>
                                        <th>
                                            Email: <a href="mailto:manager@gmail.com" style="text-decoration: none">manager@gmail.com</a>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </footer>
                }

            </div>
        </div>
    </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="//cdn.datatables.net/2.0.2/js/dataTables.min.js"></script>

<script src="~/lib/startbootstrap-admin/vendor/jquery/jquery.min.js"></script>

<script src="~/lib/startbootstrap-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/lib/startbootstrap-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/lib/startbootstrap-admin/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/lib/startbootstrap-admin/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/lib/startbootstrap-admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/lib/startbootstrap-admin/js/demo/datatables-demo.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Tiny textare js/bootstrap 5.7 -->
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

@if (SignInManager.IsSignedIn(User))
{
	<script src="~/js/notification.js"></script>
}

@await RenderSectionAsync("Scripts", required: false)
</html>
