<li class="nav-item active">
    <a class="nav-link" asp-area="Coordinator" asp-controller="Home" asp-action="Index">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Home</span>
    </a>
    <a class="nav-link" asp-area="Coordinator" asp-controller="Magazine" asp-action="Index">
        <i class="fa fa-book" aria-hidden="true"></i>
        <span>Magazine List</span>
    </a>
    <a class="nav-link" asp-area="Coordinator" asp-controller="Contribution" asp-action="Index">
        <i class="fa fa-file" aria-hidden="true"></i>
        <span>Contribution List</span>
    </a>
</li>
<!-- Divider -->
<hr class="sidebar-divider my-0">