<li class="nav-item active">
    <a class="nav-link" asp-area="Student" asp-controller="Home" asp-action="Index">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Home</span>
    </a>
</li>
<!-- Divider -->
<hr class="sidebar-divider my-0">

<li class="nav-item active">
    <a class="nav-link" asp-area="Student" asp-controller="Home" asp-action="Privacy">
        <i class="fa fa-newspaper-o" aria-hidden="true"></i>
        <span>Your Post</span>
    </a>
</li>