
<li class="nav-item active">
    <a class="nav-link" asp-area="Manager" asp-controller="Semester" asp-action="Index">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span>Manage Semester</span>
    </a>
</li>

<li class="nav-item active">
    <a class="nav-link" asp-area="Manager" asp-controller="Magazine" asp-action="Index">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span>Manage Magazine Topic</span>
    </a>
</li>
<!-- Divider -->
<hr class="sidebar-divider my-0">

<li class="nav-item active">
    <a class="nav-link" asp-area="Manager" asp-controller="Faculty" asp-action="Index">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span>Manage Faculty Department</span>
    </a>
</li>
<!-- Divider -->
<hr class="sidebar-divider my-0">

<li class="nav-item">
    <a class="nav-link" asp-area="Admin" asp-controller="ManageUser" asp-action="Index">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span>Manage Account</span>
    </a>
</li>
