@model List<User>

<div class="container-fluild mx-4">
    <h1 class="h3 mb-2 text-gray-800">User Management</h1>
    <p class="mb-4">This is user tables</p>

<!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">User Data Table</h6>
            <div class="col-6 d-flex justify-content-end">
                <a asp-controller="ManageUser" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i>  Create New Account
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="">
                <table id="user-table" class="table table-bordered table-hover table-striped" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Avatar</th>
                            <th>Email</th>
                            <th>Faculty</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}