@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="container-xl px-4 mt-4">
    
    <hr class="mt-0 mb-4">
    <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
                    <!-- Display the avatar image -->
                    @if (!string.IsNullOrEmpty(Model.Input.AvatarUrl))
                    {
                        <img src="@Model.Input.AvatarUrl" alt="Avatar" width="150" height="150" />
                    }
                    else
                    {
                        <img src="/image/avatar/default.png" alt="Avatar" width="150" height="150" />
                    }
                  
                </div>
            </div>
        </div>

        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form id="profile-form" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <!-- Form Group (email address)-->
                        <div class="mb-3">
                            <label class="small mb-1" asp-for="Email">Email address</label>
                            <input asp-for="Email" class="form-control" placeholder="Please choose your email." disabled />
                        </div>
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (first name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Input.Firstname">First name</label>
                                <input asp-for="Input.Firstname" class="form-control" placeholder="Please enter your first name.">
                                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                            </div>
                            <!-- Form Group (last name)-->
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Input.Lastname">Last name</label>
                                <input asp-for="Input.Lastname" class="form-control" placeholder="Please enter your last name.">
                            </div>
                        </div
                        <!-- Form Row-->
                        <div class="row gx-3 mb-3">
                            <!-- Form Group (phone number)-->
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Input.PhoneNumber">Phone number</label>
                                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- Form Group (Upload avatar)-->
                            <div class="col-md-6">
                                <label class="small mb-1" asp-for="Input.AvatarFile">Avatar</label>
                                <input asp-for="Input.AvatarFile" type="file" class="form-control" />
                                <span asp-validation-for="Input.AvatarUrl" class="text-danger"></span>
                            </div>
                        <div class="center" style="margin-top: 10px">
                            <!-- Save changes button-->
                            <button id="update-profile-button" type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - MagazineCMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 